.underline{
  position: relative;
}
.underline::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 85px;
  width: 25%;
  height: 4px;
  background-color: red;
}




.card2 .btn{
  position: absolute;
  bottom: 80px;
  right: 50px;
  font-size: 28px;
  background-color: brown;
  color: #fff;
  border-radius: 50%;
  padding: 0 5px 5px 5px 15px;
}  



